<div class="add-bookmark-wrapper container has-blurred-white-bg">
  <h2 class="is-bold">Add Bookmark</h2>

  <form #form="ngForm" ngNativeValidate (ngSubmit)="onFormSubmit(form)">
    <div class="form-field">
      <label class="form-label">Name</label>
      <input
        class="textbox"
        ngModel
        #textField="ngModel"
        name="name"
        type="text"
        placeholder="e.g. Wikipedia"
      />

      <!-- <ng-container *ngIf="showValidationErrors && textField?.invalid">
        <p *ngIf="textField?.errors?.['required']">
          Your Bookmark needs a title
        </p>
        <p *ngIf="textField?.errors?.['minlength']">
          Your title needs to be more than 3 characters
        </p>
      </ng-container> -->
    </div>

    <div class="form-field">
      <label class="form-label">URL</label>
      <input
        class="textbox"
        ngModel
        #textField="ngModel"
        name="url"
        type="url"
        placeholder="e.g. https://wikipedia.com"
        required
      />

      <!-- <ng-container *ngIf="showValidationErrors && textField?.invalid">
        <p *ngIf="textField?.errors?.['required']">The URL is mandatory</p>
        <p *ngIf="textField?.errors?.['minlength']">
          Your URL needs to be more than 3 characters
        </p>
      </ng-container> -->
    </div>

    <div class="btns-container">
      <button class="btn">Create Bookmark</button>
      <a routerLink="../" class="btn align-end">Cancel</a>
    </div>
  </form>
</div>
