<div class="todo-item" [class.completed]="todo.completed">
  <div class="check-box">
    <i class="material-icons-outlined"> check </i>
  </div>
  <p class="todo-text">{{ todo.text }}</p>

  <!-- this click event Stop Propogation, stops the on click event being fired in the todo component. ie, you click the edit button and it doesnt also recognise the click on the div its inside of, marking the todo as done -->
  <div class="todo-item-actions" (click)="$event.stopPropagation()">
    <div class="btn todo-item-action-btn" (click)="onEditClick()">
      <i class="material-icons"> edit </i>
    </div>
    <div class="btn todo-item-action-btn" (click)="onDeleteClick()">
      <i class="material-icons"> delete </i>
    </div>
  </div>
</div>
